.devcamp {
    padding: 0 2em;
}
  
.devcampWrapper {
    text-align: center;
    max-width: 950px;
    margin: 0 auto;
    border: 1px solid #e6e6e6;
    padding: 40px 25px;
    margin-top: 50px;
    background-color: bisque;
}
  
.devcampAvatar {
    margin: -90px 0 0;
    border-radius: 50%;
    width: 100px;
}
  
.devcampQuote p {
    line-height: 1.5;
    font-size: 1.375rem;
    margin-bottom: 25px;
    font-weight: 300;
    font-style: italic;
}
  
.devcampName {
    font-size: 1rem;
    font-weight: 600;
    color: blue;
}
  
.devcampName span {
    font-weight: 400;
    color: brown;
}
